/* Experience */
h1 {
	line-height: 5px;
}

h3 {
	line-height: 0px;
}

p {
	line-height: 30px;
}

.container {
	width: 80%;
	max-width: 960px;
	margin: 0 auto;	
	position: relative;
}

/*

.home article {	
	width: 97%;
}

.entry {
	display: inline-block;
	width: 65%;
	height: 650px;
	vertical-align: bottom;
	padding: 15px 15px 15px 15px;
	overflow: auto;
	margin-top: 120px;
}

.float {
	float: right;
	margin: 15px 15px 15px 15px;
	max-height: 200px;
}

.body {
	width: 80%;
	padding: 15px 15px 15px 90px;
	overflow: none;
	margin-top: 100px;
}

*/