body {
	font-family: "Helvetica Neue", sans-serif;
}

/* Navigation */
nav ul {
	list-style-type: none;
}

nav a {
	text-decoration: none;
	color: #424440;
}
nav li {
	text-transform: uppercase;
	font-style: italic;
	font-size: x-large;
}

/* Contact */
.contact p, a {
	font-family: "Helvetica Neue", sans-serif;
	text-transform: lowercase;
	font-size: small;
}

/* Experience */
.experience h1 {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: x-large;
	color: #65A859;
}

.experience h2 {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: large;
	color: #424440;
}

.experience h3 {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: medium;
}

.experience p {
	font-family: "Helvetica Neue", sans-serif;
	font-size: medium;
	padding-right: 0px;
	padding-bottom: 20px;
	line-height: 20px;
}

.experience img {
	width: 30%;
	float: left;
}

/* Education */
.education h1 {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: x-large;
	color: #424440;
}

.education h2 {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: large;
}

.education ul {
	list-style-type: none;
}

.education li {
	font-family: "Helvetica Neue", sans-serif;
	font-size: medium;
	font-style: italic;
}


/* Skills */

/* Contact 


*/