.container {
  left: 0;
  top: 40%;
  width: 100%;
}
.container h1 {
  padding-top: .5em;
  padding-bottom: .5em;
  color: rgba(255, 255, 255, 0.9);
  opacity: 1;
  letter-spacing: 5px;
  font-family: 'Bungee Inline', cursive;
  font-weight: bold;
}

p, li, h2, h3, h4 {
  color: #343a40;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #343a40;
  text-decoration: underline;
}
a:hover {
  color: #b6b6b6;
}


/*==========
   content
============*/
.content-container {
  top: 12%;
}
.content {
  background-color: rgba(247, 247, 247, 0.9);
  border-radius: .25rem;
  padding: .5em 2em;
}
.content h1 {
  color: #343a40;
}


/*========
   nav
=========*/
#my-nav {
  opacity: 0.7;
  margin-top: .5em;
  margin-left: 0;
}
#my-nav:hover {
  opacity: 1;
}

.navbar-nav {
  background-color: #f7f7f7;
  padding: .5em;
}

.nav-link {
  color: #343a40;
  text-decoration: none;
}
.nav-link:hover {
  color: #b6b6b6;
  text-decoration: none;
}
.nav-link:focus {
  color: #343a40;
  text-decoration: none;
}

#brand-flag {
  font-family: 'Bungee Shade', cursive;
  background-color: #f7f7f7;
  font-size: 2em;
  border-radius: 0;
  padding: .35em .5em;
}

#navbarToggleExternalContent {
  border-left: 3px solid transparent;
}

.selected {
  font-weight: bold;
}


/*========
   home
=========*/
#home {
  background-image: url("../images/lol.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home p {
  color: #fff;
  text-align: left;
}
#home h1 {
  color: #fff;
  text-align: left;
  padding: 0;
  background-color: transparent;
  letter-spacing: normal;
  font-family: 'Bungee Inline', cursive;
}
#home .container {
  top: 63%;
}


/*=============
   experience
==============*/
#experience {
  background-image: url("../images/in.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*============
   education
=============*/
#education {
  background-image: url("../images/rr.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*============
   questions
==============*/
#hw {
  background-image: url("../images/code.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hw h1 {
  color: rgba(247, 247, 247, 0.9);
}

#hw h2 {
  opacity: 1;
  font-family: 'Bungee Inline', cursive;
  font-weight: bold;
  padding: 0;
  color: #343a40;
}

#hw .container {
  top: 12%;
}

#hw .card {
  margin-bottom: 0.75em;
  background-color: rgba(247, 247, 247, 0.9);
}

#hw .card-header {
  background-color: rgba(247, 247, 247, 0);
  border-radius: .25rem;
}

#hw .card-block {
  max-height: 30vh;
  overflow: scroll;
}
